/*-- Utilities --*/
.js-enabled .nav-list {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.icon.-menu:before {
  content: "\e600"; }
.icon.-link:before {
  content: "\e602"; }
.icon.-mail:before {
  content: "\e603"; }
.icon.-facebook:before {
  content: "\e604"; }
.icon.-twitter:before {
  content: "\e605"; }
.icon.-github:before {
  content: "\e606"; }
.icon.-linkedin:before {
  content: "\e607"; }
.icon.-file-pdf:before {
  content: "\e608"; }
.icon.-file-word:before {
  content: "\e609"; }
.icon.-file-excel:before {
  content: "\e60a"; }
.icon.-file-zip:before {
  content: "\e60b"; }
.icon.-file-powerpoint:before {
  content: "\e60c"; }
.icon.-file-xml:before {
  content: "\e60d"; }
.icon.-file-css:before {
  content: "\e60e"; }
.icon.-calendar:before {
  content: "\e601"; }
.icon.-spinner:before {
  content: "\e60f"; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  background: #d6f2fc; }

body {
  line-height: 1;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #0f1017; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.body-wrap {
  padding: .5em; }

/*-- Atoms --*/
a {
  color: #a65128; }
  a:hover {
    color: #bb5b2d; }
  a:active, a:focus {
    color: #914723; }
  a:visited {
    color: #7d3d1e; }

.nav-list-link {
  color: #d6f2fc;
  display: block;
  padding: .5em;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .nav-list-link:hover, .nav-list-link:active, .nav-list-link:focus {
    padding-left: 1em;
    color: #e2a385; }
  .nav-list-link:visited {
    color: #d6f2fc; }
    .nav-list-link:visited:hover, .nav-list-link:visited:active, .nav-list-link:visited:focus {
      padding-left: 1em;
      color: #e2a385; }

.nav-toggle {
  background: #174666;
  padding: 1em 0 0 1em;
  height: 0;
  width: 0;
  overflow: hidden;
  color: #d6f2fc;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0 0 0 .1em;
  border: 1px solid #0f1017;
  border-right: none; }
  .nav-toggle:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: .75em;
    text-align: center;
    line-height: 1.25em;
    display: block;
    color: #fff; }

.btn {
  background: #a65128;
  color: #d6f2fc;
  padding: .5em;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  box-shadow: 0 0 1px #0f1017; }
  .btn:hover {
    background: #bb5b2d;
    color: #d6f2fc; }
  .btn:active, .btn:focus {
    background: #914723;
    color: #d6f2fc;
    box-shadow: inset 0 0 3px #0f1017; }
  .btn:visited {
    color: #d6f2fc; }
  .btn.-alt {
    background: #174666; }
    .btn.-alt:hover {
      background: #1c547b; }
    .btn.-alt:active, .btn.-alt:focus {
      background: #123851; }

.logo {
  color: #174666;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: .75em;
  text-align: center;
  display: inline-block;
  font-style: italic;
  font-weight: 700; }
  .logo:before {
    content: "{R:S}";
    display: block;
    padding-bottom: .1em;
    font-size: 2.75em;
    font-family: "Sonsie One", Impact, Charcoal, sans-serif;
    font-style: normal;
    font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Sonsie One", Impact, Charcoal, sans-serif; }

h1 {
  color: #174666;
  font-size: 2em; }

h2 {
  font-size: 1.5em;
  color: #0f1017;
  border-bottom: 1px solid #174666; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: .75em; }

h6 {
  font-size: .5em; }

.post-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.post-title {
  display: block;
  font-weight: 700;
  font-style: italic; }

/*-- Molecules --*/
.nav-list {
  display: block;
  background: #174666;
  z-index: 10000;
  border: 1px solid #0f1017; }
  .js-enabled .nav-list {
    position: fixed;
    top: 0;
    left: 100%;
    right: 0; }
    .js-enabled .nav-list.-open {
      left: 50%; }
    .js-enabled .nav-list.-no-animate {
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      -ms-transition: none;
      transition: none; }
  .nav-list .nav-toggle {
    position: absolute;
    left: -1em;
    top: 0;
    font-size: 3em;
    margin-left: -1px;
    margin-top: -1px; }

.post-item {
  display: block;
  text-decoration: none;
  background: #a65128;
  padding: .5em;
  margin: .5em 0;
  border-radius: 5em;
  color: #d6f2fc; }
  .post-item:hover, .post-item:focus, .post-item:visited {
    color: #d6f2fc; }
  .post-item:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    clear: both; }
  .post-item .post-thumb {
    float: left;
    margin-right: 1em; }

/*-- Organisms --*/
.header-main {
  margin-bottom: 2em; }

/*-- Templates --*/
