.nav-list {
	display: block;
	background: $primaryColor;
	z-index: 10000;
	border:1px solid $textColor;
	.js-enabled & {
		@extend %easeInOut;
		position: fixed;
		top: 0;
		left: 100%;
		right:0;
		&.-open {
			left: 50%;
		}
		&.-no-animate {
			@include noAnimate;
		}
	}
	.nav-toggle {
		position: absolute;
		left:-1em;
		top:0;
		font-size:3em;
		margin-left:-1px;
		margin-top:-1px;

	}
}