@mixin useHeaderFont {
	font-family: $headerFont;
}
@mixin useBodyFont {
	font-family: $headerFont;
}
@mixin easeInOut {
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
@mixin noAnimate {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}