$headerFont: "Sonsie One", Impact, Charcoal, sans-serif;
$copyFont: "Open Sans", Helvetica, Arial, sans-serif;

$backgroundColor: #D6F2FC;
$textColor: #0F1017;
$primaryColor: #174666;
$secondaryColor: #88CDF2;
$actionColor: #A65128;