$headerFont: "Sonsie One", Impact, Charcoal, sans-serif;
$copyFont: "Open Sans", Helvetica, Arial, sans-serif;

$darkColor: #0F1017;
$lightColor: #FFFEFE;
$primaryColor: #174666;
$secondaryColor: #88CDF2;
$actionColor: #A65128;